
@import "mix.scss";

/* Header section starts */
.header{height:55px; width:100%; border-bottom: 1px solid #c6c6c6 ; background-color:$colors;
 h2{color:#d4162d; padding:12px 20px; float:left;}
}
/****** Header section ends*******/

/* main content section starts */
#main-content{float:left; width:100%}
.left-section{float:left; width:70%; display: inline-block;}
.container-content{ background-color:$colors; margin:15px 10px 10px 10px; box-shadow:$shadow; 
.head{width:100%; text-align: center; padding:20px;
    p{color:#797979; font-size:12px; margin-top: 10px;}
    h5{color:#202020;}
    }
.boxes{width:100%;display:grid; grid-template-columns: auto auto ; grid-gap:20px; padding:20px;
    &.item1{box-shadow:$shadow-2}
    & p{color: #4e4e4e; font-size: 16px; font-weight:600; margin-left: 10px;}
    & hr{border:$borders;}
    }
}

.selector p{margin: 20px 0 10px 0;
    & span{color:#616161; float:right; margin:-3px 10px 0px 0px; font-size: 20px;
        a{color:#868686}
 
    }
}

/*  right section start   */
.right-section{float:left; width:30%; padding:10px;
    .container-content-2{margin:5px 10px 10px 10px;
    .minimum-order{width:100%; padding:12px; border-radius: 8px; background-color:#f5a623;
        color:$colors; font-size:15px; font-weight:500 !important; text-align: center;
        & a{color:$colors; font-weight: 300;}
        }
        .progress-bar{height:22px; margin:20px 0; border-radius: 4px; background-color: #dcdcdc;
            box-shadow: 0px 1px 0px 1px rgba(187, 187, 187, 0.6);} 
        .your-cart{padding:5px 15px; background-color:$colors; color:#585858; text-align:center;
                box-shadow: $shadow;
                & img{margin:20px; margin-top: 30%;}
                & p{text-align: left;}
            }
            .place-order{margin:20px 0; height:35px; background-color: #dcdcdc; color:$colors; text-align:center;
                padding-top:10px;
                & a{color:$colors;}
            }
    }
}




/* main content section ends */
$value: img1, img2, img3, img4, img5, img6;
@each $items in $value{
    .#{$items}{
        background:url("../assets/#{$items}.jpg");
        @include imagesize
    }
}
/********************************Media query****************************/
@media only screen and (max-width:425px){
    .boxes{display:block !important; padding:0px;
        .item1{padding:15px}
    }
    .left-section{@include size;}
    .right-section{@include size; padding:30px 0px 10px 10px }
    .logo h2{color:#d4162d; padding:12px 20px; float:left; font-size:18px}
    .header{height:40px; width:100%; }
}

@media only screen and (min-width:768px){
    .container-content .head h5{font-size: 16px;}
    .container-content .head p{font-size: 15px;}
}
